<!--/*
    Copyright 2016 Integration New Media Inc.
*/-->
<header class="container-header" data-sly-use.header="header.js" data-sly-use.page="../page-full-width/page.js">
	
		<div class="header-top" data-sly-test="${header.courtesyNav == 'top'}">
			<div class="container">
				<div class="courtesy-nav-container"><div class="courtesy-nav" data-sly-resource="${'{0}/boilerplate-content/header-courtesy-nav/jcr:content/courtesy-nav' @ resourceType='inm-starterkit/components/structure/courtesy-nav', format=[page.root]}"></div></div>
				<div class="search-wrapper" data-sly-test="${header.search == 'courtesyNav'}" data-sly-resource="${'search-form' @ resourceType='inm-starterkit/components/structure/search-form'}"></div>
			</div>
		</div>
		<div class="header-middle">
			<div class="container">
				<div class="container-header-logo" data-sly-resource="${'{0}/boilerplate-content/header-logo/jcr:content/logo' @ resourceType='inm-starterkit/components/content/image', format=[page.root]}"></div>
				<div class="beside-logo">
					<div data-sly-test="${header.courtesyNav == 'beside'}" class="courtesy-nav-container"><div class="courtesy-nav" data-sly-resource="${'{0}/boilerplate-content/header-courtesy-nav/jcr:content/courtesy-nav' @ resourceType='inm-starterkit/components/structure/courtesy-nav', format=[page.root]}"></div></div>
					<div data-sly-test="${header.search == 'beside'}"  class="search-wrapper" data-sly-resource="${'search-form' @ resourceType='inm-starterkit/components/structure/search-form'}"></div>
					<div data-sly-test="${header.mainNav == 'beside'}" class="main-nav-wrapper" >
						<div class="visible-sm visible-xs">
						    <button type="button" class="navbar-toggle collapsed main-nav-toggle" aria-expanded="false" data-toggle="collapse" data-target="#main-nav-collapse">
						        <span class="sr-only">Toggle navigation</span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						    </button>
						    <button type="button" class="navbar-toggle collapsed search-toggle" aria-expanded="false" data-toggle="collapse" data-target="#search-form-mobile-collapse">
						        <span class="sr-only">Toggle search</span>
						        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						    </button>
						</div>
						<div class="main-nav">
				            <div class="container-header-main-nav">
				                <div class="content_main-nav toptoolbar toolbar" data-sly-resource="${'main-nav' @ resourceType='inm-starterkit/components/structure/main-nav'}"></div>
				                <div class="row collapse" id="search-form-mobile-collapse">
				                    <div class="visible-sm visible-xs">
				                        <div data-sly-resource="${'search-form' @ resourceType='inm-starterkit/components/structure/search-form', addSelectors='mobile'}" data-sly-unwrap></div>
				                    </div>
				                </div>
				            </div>
					    </div>
				    </div>
				</div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="container">
				<div data-sly-test="${header.mainNav == 'bottom'}" class="main-nav-wrapper" >
					<div class="visible-sm visible-xs">
					    <button type="button" class="navbar-toggle collapsed main-nav-toggle" aria-expanded="false" data-toggle="collapse" data-target="#main-nav-collapse">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					    </button>
					    <button type="button" class="navbar-toggle collapsed search-toggle" aria-expanded="false" data-toggle="collapse" data-target="#search-form-mobile-collapse">
					        <span class="sr-only">Toggle search</span>
					        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					    </button>
					</div>
					<div class="main-nav">
			            <div class="container-header-main-nav">
			                <div class="content_main-nav toptoolbar toolbar" data-sly-resource="${'main-nav' @ resourceType='inm-starterkit/components/structure/main-nav'}"></div>
			                <div class="row collapse" id="search-form-mobile-collapse">
			                    <div class="visible-sm visible-xs">
			                        <div data-sly-resource="${'search-form' @ resourceType='inm-starterkit/components/structure/search-form', addSelectors='mobile'}" data-sly-unwrap></div>
			                    </div>
			                </div>
			            </div>
				    </div>
			    </div>
			    <div  class="search-wrapper" data-sly-test="${header.search == 'mainNav'}" data-sly-resource="${'search-form' @ resourceType='inm-starterkit/components/structure/search-form'}"></div>
			</div>
		</div>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<!--/*  
		<div class="container-header-logo" data-sly-resource="${'{0}/boilerplate-content/header-logo/jcr:content/logo' @ resourceType='inm-starterkit/components/content/image', format=[page.root]}"></div>
		<div class="courtesy-nav-container"><div class="courtesy-nav" data-sly-resource="${'{0}/boilerplate-content/header-courtesy-nav/jcr:content/courtesy-nav' @ resourceType='inm-starterkit/components/structure/courtesy-nav', format=[page.root]}"></div></div>
	    <div class="hidden-sm hidden-xs">
	    	<div data-sly-resource="${'search-form' @ resourceType='inm-starterkit/components/structure/search-form'}" data-sly-unwrap></div>
	    </div>

		<div class="visible-sm visible-xs">
		    <button type="button" class="navbar-toggle collapsed main-nav-toggle" aria-expanded="false" data-toggle="collapse" data-target="#main-nav-collapse">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		    </button>
		    <button type="button" class="navbar-toggle collapsed search-toggle" aria-expanded="false" data-toggle="collapse" data-target="#search-form-mobile-collapse">
		        <span class="sr-only">Toggle search</span>
		        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		    </button>
		</div>

	    <div class="main-nav">
            <div class="container-header-main-nav">
                <div class="content_main-nav toptoolbar toolbar" data-sly-resource="${'main-nav' @ resourceType='inm-starterkit/components/structure/main-nav'}"></div>
                <div class="row collapse" id="search-form-mobile-collapse">
                    <div class="visible-sm visible-xs">
                        <div data-sly-resource="${'search-form' @ resourceType='inm-starterkit/components/structure/search-form', addSelectors='mobile'}" data-sly-unwrap></div>
                    </div>
                </div>
            </div>
	    </div>
	    
	    */-->
	    
	    
	    
	    
	    
	    

</header>