.row-no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#starterkit .breadcrumb-container.jumbotron {
  padding: 0;
  border-radius: 0;
}
#starterkit .breadcrumb-container.banner {
  background-size: 100% 100%;
}
#starterkit .breadcrumb-container.banner .container {
  background: none;
  color: #2f3134;
  display: block;
}
#starterkit .breadcrumb-container ol.breadcrumb {
  height: auto;
  background: none;
  display: block;
  margin-bottom: 0;
}
@media screen and (max-width: 991px) {
  #starterkit .breadcrumb-container ol.breadcrumb {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  #starterkit .breadcrumb-container ol.breadcrumb {
    min-height: 60px;
    margin-bottom: 15px;
    padding-right: 0;
    padding-left: 0;
  }
}
#starterkit .breadcrumb-container ol.breadcrumb li {
  font-family: 'robotolight', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}
#starterkit .breadcrumb-container ol.breadcrumb li a {
  color: #2f3134;
  text-decoration: underline;
}
#starterkit .breadcrumb-container ol.breadcrumb li a.selected {
  text-decoration: none;
}
