<template data-sly-template.descendants="${@ page, idIndex}">
    <button data-sly-test="${ page.depth == 5 }"
            data-toggle="collapse"
            data-target="#${page.name}"
            class="collapse navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a data-sly-test="${!page.hideInNav}" 
       data-sly-use.utils="${'utils.js' @ pageParam=page}" 
       href="${page.path}.html"
       class="${page.listChildren ? 'left' : ''} ${currentPage.path == page.path ? 'selected' : ''} ${utils.isCurrentPageInPath ? 'selected' : ''}">
        ${page.pageTitle || page.title}
    </a>
    <button data-sly-test="${page.listChildren}" 
          class="glyphicon ${utils.isCurrentPageInPath ? '' : 'collapsed'}"  
          data-toggle="collapse" 
          data-target="#${page.name}${idIndex}" 
          aria-controls="${page.title}"
          aria-label="Expand Submenu of ${page.title}"></button>
    <div class="clearfix"></div>
    <ul data-sly-test="${!page.hideInNav}" 
        data-sly-list.child="${page.listChildren}" 
        class="collapse ${utils.isCurrentPageInPath ? 'in' : ''} ${page.depth > 5 ? 'inside-navigation' : ''} ${page.depth == 5 ? 'second-level-navigation' : ''}" 
        id="${page.name}${idIndex}">
        <li data-sly-call="${descendants @ page=child, idIndex=idIndex}"></li>
    </ul>
</template>

<!--

-->
