<!--/*
    Sidebar Navigation Sightly Component
    Copyright 2016 Integration New Media Inc.
*/-->
<div class="sidebarnav">
    <div data-sly-use.sidebar="sidebar-navigation.js" 
         data-sly-test="${sidebar.root.listChildren}" class="navbar navbar-default starterkit-side-bar-nav" role="navigation">
        <ul data-sly-list.subPage="${sidebar.root.listChildren}" 
            class="list-group in visible-md visible-lg hidden-sm hidden-xs"
            id="side-navigation-bar1">
            <li data-sly-test="${!subPage.hideInNav}" 
                data-sly-use.childPages="descendants.html" 
                data-sly-call="${childPages.descendants @ page=subPage, idIndex=1}"
                class="first-level-navigation">
            </li>
        </ul>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#side-navigation-bar2">
                <span class="sr-only">Toggle Navigation</span>
                <span class="glyphicon"></span>
            </button>
            <a class="navbar-brand select-menu visible-sm visible-xs" href="#">${'Selection Menu' @ i18n}</a>
        </div>
        <ul data-sly-list.subPage="${sidebar.root.listChildren}" 
            class="list-group hidden-md hidden-lg collapse"
            id="side-navigation-bar2">
            <li data-sly-test="${!subPage.hideInNav}" 
                data-sly-use.childPages="descendants.html" 
                data-sly-call="${childPages.descendants @ page=subPage, idIndex=2}"
                class="first-level-navigation">
            </li>
        </ul>
    </div>
</div>