<!--/*
    Courtesy Nav Sightly Component
    Copyright 2016 Integration New Media Inc.
*/-->
<div data-sly-unwrap="${wcmmode.edit}" class="cq-dd-pages"
     data-sly-use.listComponent="list.js"
     data-sly-use.emptyRenderer="emptylist.html"
     data-sly-use.itemTemplate="listitem.html"
     data-sly-use.pageLangUtils="com.inm.aem.accelerators.starterkit.core.starterkit.langUtils.PageLanguageUtils"
     data-sly-use.langSelector="${'lang-selector.js' @ pageLangUtils=pageLangUtils}">
    <div data-sly-call="${emptyRenderer.emptylisttemplate @ list=listComponent}" data-sly-unwrap></div>
    <link data-sly-test="${properties.feedEnabled}" rel="alternate" type="application/atom+xml" title="Atom 1.0 (List)" href="${resource.path}.feed" />
    <ul data-sly-element="${listComponent.element}" data-sly-list.listItem="${listComponent.list}" class="foundation-ordered-list-container starterkit-courtesy-nav">
        <li data-sly-call="${itemTemplate[listComponent.type] @ renderItem=listItem}" class="foundation-list-item menu-item"></li>
        <li class="foundation-list-item menu-item" data-sly-test="${listItemList.last && !langSelector.warn}">
            <p><a data-sly-test="${!langSelector.warn}"
               lang="${langSelector.lang}"
               aria-label="${langSelector.ariaLabel}"
               href="${langSelector.path}.html"
               title="${langSelector.langName}">
                ${langSelector.langName}
            </a>
            </p>
        </li>
        <li class="foundation-list-item menu-item" data-sly-test="${listItemList.last && properties.includeLogin}">
            <div data-sly-resource="${'loginform' @ resourceType='inm-starterkit/components/content/login'}" data-sly-unwrap></div>
        </li>
    </ul>
    <div data-sly-test="${!listComponent.isEmpty && listComponent.isPaginating}" class="pagination">
        <div data-sly-test="${listComponent.previousLink}" class="previous">
            <a href="${listComponent.previousLink}" onclick="CQ_Analytics.record({event: 'listPreviousPage', values: { listPageStart: '${listComponent.pageStart @ context='scriptString'}' }, collect:  false, options: { obj: this }, componentPath: '${resource.resourceType @ context='scriptString'}'})">&laquo; Previous</a>
        </div>
        <div data-sly-test="${listComponent.nextLink}" class="next">
            <a href="${listComponent.nextLink}" onclick="CQ_Analytics.record({event: 'listNextPage', values: { listPageStart: '${listComponent.pageStart @ context='scriptString'}' }, collect:  false, options: { obj: this }, componentPath: '${resource.resourceType @ context='scriptString'}>'})">Next &raquo;</a>
        </div>
    </div>
</div>
