// out: ../css/breadcrumb.css

@import "../../../../../../../etc/designs/inm-starterkit/clientlib-site/less/includes.less";

#starterkit {
    .breadcrumb-container {
        &.jumbotron {
            padding: 0;
            border-radius: 0;
        }
        
        &.banner {
            //background: @black url('@{images_path}/breadcrumb-background.jpg') repeat-x scroll center;  // no background for now
            background-size: 100% 100%;
            .container {
                background: none;
                color: @breadcrumb-color;
                display: block;
            }
        }
        
        ol.breadcrumb {
            //min-height: 194px;
            height: auto;
            background: none;
            display: block;
            margin-bottom: 0;
            //padding-top: 20px;
            
            @media screen and (max-width: @screen-sm-max) {
                padding-left: 0px;
                padding-right: 0px;
            }
            
            @media screen and (max-width: @screen-xs-max) {
                min-height: 60px;
                margin-bottom: 15px;
                padding-right: 0;
                padding-left: 0;
            }
            
            li {
                .Roboto-Light(16px);
                a {
                    color: @breadcrumb-color;
                    text-decoration: underline;

                    &.selected {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
