
.slick-slider{}
.slick-slider .slick-slide{}
.slick-slider .slick-slide.slick-current.slick-center{}
.slick-slider .slick-slide .item-wrapper{padding:10px; transition:all .3s;}
.slick-slider .slick-slide .item-wrapper .item-container .picture{background-color:#333; background-size: cover; background-position:center center;}

/*-Display Default-*/
.slick-slider.default .slick-slide .item-wrapper .item-container{position:relative; }
.slick-slider.default .slick-slide .item-wrapper .item-container .picture{width:100%; height:0; padding-bottom:56.25%; position:relative; z-index:1;}
.slick-slider.default .slick-slide .item-wrapper .item-container .content{background:rgba(0,0,0,0.5); padding:10px; color:#fff; position:absolute; z-index:10; left:0; bottom:0; width:100%;}
.slick-slider.default .slick-slide .item-wrapper .item-container .content a{color:#fff;}

/*-Display Round-*/
.slick-slider.round .slick-slide .item-wrapper .item-container{text-align:center;}
.slick-slider.round .slick-slide .item-wrapper .item-container .picture{width:150px; height:150px; border-radius:200px; margin:0 auto; transition:all .3s;}

/*-Display Viewer-*/
.slick-slider.viewer .slick-slide .item-wrapper{padding:0;}
.slick-slider.viewer .slick-slide .item-wrapper .item-container{position:relative; }
.slick-slider.viewer .slick-slide .item-wrapper .item-container .picture{width:100%; height:0; padding-bottom:56.25%; position:relative; z-index:1;}
