@import "../../../../../../../etc/designs/inm-starterkit/clientlib-site/less/includes.less";

#starterkit {
  .search {
    padding: 15px 30px;
    @media screen and (max-width: @screen-xs-max) {
      padding: 0;
    }
    a {
      color: @Search-result-link-color;
    }
    .searchRight {
      a {
        color: @Search-result-link-color;
      }
      @media screen and (max-width: @screen-xs-max) {
        margin-bottom: 15px;
      }
    }
  }
}