@import "../../../../../../../etc/designs/inm-starterkit/clientlib-site/less/includes.less";


#starterkit {
  header {
    .search-container {
      width: 100%;
      margin-bottom: 20px;
      float: left;

      input {
        border: 1px solid @form-input-color;
        .rounded(4px 0px 0px 4px);
        height: 43px;
        max-width: 400px;
        float: right;
        color: @form-input-color;

        @media screen and (max-width: @screen-sm-max) {
          max-width: 100%;
        }

        &::-webkit-input-placeholder {
          color: @form-placeholder-color;
        }

        &:-moz-placeholder {
          /* Firefox 18- */
          color: @form-placeholder-color;
        }

        &::-moz-placeholder {
          /* Firefox 19+ */
          color: @form-placeholder-color;
        }

        &:-ms-input-placeholder {
          color: @form-placeholder-color;
        }
      }

      .btn-starterkit {
        border: 1px solid @black;
        margin-top: 0px;
        height: 43px;
      }

      @media screen and (max-width: @screen-sm-max) {
        .collapse-tick {
          background: url('@{images_path}/yellow-tick.png') no-repeat 95% center; /* Sf < 6, Android, default */
          background-repeat: no-repeat;
          background-position: -webkit-calc(100% - 76px) center; /* sf 6 */
          background-position: right 76px center; /* Cr 25+, FF 13+. IE9+, Op 10.5+ */
          position: relative;
          height: 18px;
          top: 2px;
        }

        form {
          background: @primary-color;
          padding: 22px;
          position: absolute;
          z-index: 2;
          .input-group-btn {
            display: none;
          }

          .input-group {
            display: block;
          }
          input {
            .rounded(4px);
            display: block;
            float: none;
            border: 0px solid;
          }

        }
      }

    }

    #search-form-mobile-collapse {
      position: absolute;
      width: 100%;
      margin-top: -20px;
      form {
        width: 100%;
        .btn-starterkit {
          z-index: 9999999;
        }
      }
    }
  }
}
