<!--/*
  Login Component
  Copyright 2016 Integration New Media Inc.

*/-->

<div class="dropdown login-dropdown ${properties.predefinedClass} ${properties.componentClass}" data-sly-use.login="apps.inm_starterkit.components.content.login.Login">



	<a href="#" class="dropdown-toogle" id="dropdownLogin" type="button" aria-haspopup="true" aria-expanded="false">
		<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
		<span data-sly-test="${login.userID != 'anonymous'}">${login.userID}</span>
		<span data-sly-test="${login.userID == 'anonymous'}">Login</span>
	</a>	
	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLogin">
	  	<div id="login-forms-wrapper" class="login-forms-wrapper">
			
			<!-- /* User infos */ -->
	  		<div id="userinfos-tab" class="form-tab ${login.userID != 'anonymous' ? 'active' : ''}">
        		<div class="row">
		   			<div class="col-lg-3">
		   				<div class="thumb-profile"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
		   			</div>
		   			<div class="col-lg-9">
		   				<div><strong>${login.userID}</strong></div>
		   				<div><small>${login.firstName} ${login.lastName}</small></div>
		   				<div><small>${login.email}</small></div>
		   				<button class="btn btn-primary btn-sm" type="button">My profile</button>
		   			</div>
		   		</div>
		   		<div class="divider"></div>
		   		<a href="/system/sling/logout.html?resource=${login.rootUrl}.html" class="btn btn-default btn-sm btn-block" type="button" >Sign out</a>
        	</div>
		  		
	  		<!-- /* Sign-up Form */ -->
	  		<div id="registration-tab" class="form-tab">
	            <h3>Sign-up</h3>
	            <form class="user-info-from-cookie" enctype="multipart/form-data" action="/desktop?destination=desktop#modal-registration" method="post" id="user-registration-form" accept-charset="UTF-8">
					<div class="form-group">
					    <label class="sr-only" for="edit-mail">Email <span class="form-required" title="This field is required.">*</span></label>
					    <input placeholder="Email" type="text" id="edit-mail" name="mail" value="" size="60" maxlength="254" class="form-control required" />
					</div>
					<div class="form-group">
					    <label class="sr-only" for="edit-pass-pass1">Password <span class="form-required" title="This field is required.">*</span></label>
					    <input placeholder="Password" type="password" id="edit-pass-pass1" name="pass[pass1]" size="25" maxlength="128" class="form-control required" />
					</div>
					<div class="form-group">
					    <label class="sr-only" for="edit-pass-pass2">Confirm password <span class="form-required" title="This field is required.">*</span></label>
					    <input placeholder="Confirm password" type="password" id="edit-pass-pass2" name="pass[pass2]" size="25" maxlength="128" class="form-control required" />
					</div>
                    <input type="hidden" name="form_id" value="user_register_form">
                    <input class="btn btn-primary" type="submit" id="edit-submit--2" name="op" value="Sign-up" />
	            </form>
	            <div class="divider"></div>
	            <div>Already registered? <a href="#" class="swicth-tab" data-target="login-tab">Login</a></div>
	        </div>
		        
	        <!-- /* Login Form */ -->
	        <div id="login-tab" class="form-tab ${login.userID == '' || login.userID == 'anonymous' ? 'active' : ''}">
	            <h3>Login</h3>
	            <form action="${currentPage.path}/j_security_check" method="post" id="user-login" accept-charset="UTF-8">
                    <div class="form-group">
                        <label class="sr-only" for="j_username">Username <span class="form-required" title="This field is required.">*</span></label>
                        <input placeholder="Username" type="text" id="j_username" name="j_username" value="" size="60" maxlength="60" class="form-control form-text required">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="j_password">Password <span class="form-required" title="This field is required.">*</span></label>
                        <input placeholder="Password" type="password" id="j_password" name="j_password" size="60" maxlength="128" class="form-control form-text required">
                    </div>
                    <input type="hidden" name="resource" value="${currentPage.path}.html"/>
                    <input type="hidden" name="sling.auth.redirect" value="${currentPage.path}.html"/>
                    <input type="hidden" name="form_id" value="user_login">
                    <input class="btn btn-primary" type="submit" id="edit-submit" name="op" value="Login">
	            </form>
	            <div class="divider"></div>
	            <div>No account? <a href="#" class="swicth-tab" data-target="registration-tab">Sign-up</a></div>
	            <div>Forgot your password ? <a href="#" class="swicth-tab" data-target="password-reset-tab">Reset it</a></div>
	        </div>
	        
	        <!-- /* Reset Password Form */ -->
	        <div id="password-reset-tab" class="form-tab">
	            <h3>Reset your password</h3>
	            <p>If you have forgotten your password please submit your e-mail address below.</p>
				<p>You will then receive an e-mail informing you how to reset your password.</p>
	            <form action="/desktop?destination=desktop#modal-password-reset" method="post" id="user-pass" accept-charset="UTF-8">
                    <div class="form-group form-item form-type-textfield form-item-name">
                        <label class="sr-only" for="edit-name--3">Email <span class="form-required" title="This field is required.">*</span></label>
                        <input placeholder="Adresse courriel" type="text" id="edit-name--3" name="name" value="" size="60" maxlength="254" class="form-control form-text required">
                    </div>
                    <input type="hidden" name="form_id" value="user_pass">
                    <input type="submit" id="edit-submit--3" name="op" value="Reset" class="btn btn-primary">
	            </form>
	            <div class="divider"></div>
	            <div>No account? <a href="#" class="swicth-tab" data-target="registration-tab">Sign-up</a></div>
	            <div>Already registered? <a href="#" class="swicth-tab" data-target="login-tab">Login</a></div>
	        </div>

		</div>
	</div>
</div>
