.row-no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#starterkit .accordion .panel-default .panel-heading {
  width: 100%;
  text-align: left;
  border: 0px;
  color: #000000;
}
#starterkit .accordion .panel-default.black .panel-heading {
  background: #000000;
  color: #ffffff;
}
#starterkit .list .foundation-ordered-list-container.teaser {
  list-style: none;
}
