/*-Video-*/
.video-wrapper{background:#000; width:100%; height:0; padding-bottom:56.25%; position:relative; overflow:hidden; color:#fff;}
.video-wrapper.ratio-4-3{padding-bottom:75%; }
.video-wrapper.ratio-16-9{padding-bottom:56.25%;}
.video-wrapper video{width:100%; height:100%; position:absolute;}
.video-wrapper iframe{width:100%; height:100%; position:absolute;}