<!--/*
    Column Control Sightly Component
    Copyright 2016 Integration New Media Inc.
*/-->
<div class="row ${properties.predefinedClass} ${properties.componentClass}" data-sly-use.colCtrl="column-control.js">
	<div data-sly-list.item="${colCtrl.listCols}" data-sly-unwrap>
		<div class="${item.classSM} ${item.classMD} ${item.classLG}" data-sly-test.resourcePath="${ '{0}{1}' @ format=['parsys_',itemList.count]}">
            <div class="column_content">
			    <div class="column_content_content" data-sly-resource="${resourcePath @ resourceType='wcm/foundation/components/parsys'}"></div>
            </div>
		</div>
    </div>
</div>    