<template data-sly-template.emptylisttemplate="${@ list}">
    <img data-sly-test="${wcmmode.edit && list.isEmpty && !list.isTouch}" src="/libs/cq/ui/resources/0.gif" class="cq-list-placeholder" alt="" />
    <div data-sly-test="${list.isEmpty && list.isTouch}" class="cq-placeholder" data-emptytext="Slider"></div>
</template>