<!-- DEFAULT -->
<template data-sly-template.default="${@ renderItem}">
    <div class="item-container">
    	<div class="picture" style="background-image:url(${renderItem.item.path @ context='text'}.img.png);"></div>
        <div class="content">
        	<a href="${renderItem.item.path}.html"
          	 	onclick="CQ_Analytics.record({event: 'listItemClicked', values: { listItemPath: '${renderItem.item.path @ context='scriptString'}' }, collect:  false, options: { obj: this }, componentPath: '${resource.resourceType @ context='scriptString'}'})">${renderItem.itemName}</a>
        </div>
    </div>
</template>

<!-- Round -->
<template data-sly-template.round="${@ renderItem}">
	<div class="item-container">
		<div class="picture" style="background-image:url(${renderItem.item.path @ context='text'}.img.png);"></div>
		<div class="content">
			<a href="${renderItem.item.path}.html"
        		onclick="CQ_Analytics.record({event: 'listItemClicked', values: { listItemPath: '${renderItem.item.path @ context='scriptString'}' }, collect:  false, options: { obj: this }, componentPath: '${resource.resourceType @ context='scriptString'}'})">${renderItem.itemName}</a>
		</div>
	</div>
</template>

<!-- Viewer -->
<template data-sly-template.viewer="${@ renderItem}">
	<div class="item-container">
		<div class="picture" style="background-image:url(${renderItem.item.path @ context='text'}.img.png);"></div>
	</div>
</template>