<div class="slick-slider-container ${properties.predefinedClass} ${properties.componentClass}" 
	id="${slider.id}"
	data-sly-use.listComponent="list.js"
	data-sly-use.emptyRenderer="emptylist.html"
    data-sly-use.itemTemplate="listitem.html"
	data-sly-use.slider="slider.js">

	<sly data-sly-call="${emptyRenderer.emptylisttemplate @ list=listComponent}" />
	
	<!--/* Viewer */-->
	<section data-sly-test="${slider.viewer}" class="viewer" data-sly-list.listItem="${listComponent.list}">
		<div class="slider-list-item">
			<div class="item-wrapper" data-sly-call="${itemTemplate['viewer'] @ renderItem=listItem}"></div>
		</div>
	</section>
	
	<!--/* Slider */-->
	<section class="slider ${listComponent.type}" data-sly-list.listItem="${listComponent.list}">
		<div class="slider-list-item">
			<div class="item-wrapper" data-sly-call="${itemTemplate[listComponent.type] @ renderItem=listItem}"></div>
		</div>
	</section>

	<script>
        $(document).ready(function(){
        	var sliderObject =  $("#${slider.id @ context='scriptString'} .slider");
        	var viewerObject =  $("#${slider.id @ context='scriptString'} .viewer");
              	
        	$(sliderObject).slick({
            	arrows: ${slider.arrows @ context='scriptString'},
            	dots: ${slider.dots @ context='scriptString'},
				infinite: true,
				slidesToShow: ${slider.slidesToShow @ context='scriptString'},
				slidesToScroll: ${slider.slidesToScroll @ context='scriptString'},
				centerMode: ${slider.centerMode @ context='scriptString'},
				autoplay: ${slider.autoplay @ context='scriptString'},
				
				/*
				speed:300,
				centerPadding: '60px', //Peakaboo
				variableWidth: true,
				adaptiveHeight: true,
				lazyLoad: 'ondemand',
				autoplaySpeed: 2000,
				fade: true,
				cssEase: 'linear'
				*/
				
				 responsive: [
					 {
						 breakpoint: 768,
						 settings: {
							slidesToShow: 1,
							slidesToScroll: 1,
						 }
					 }
				 ]
			});
            
        	if(viewerObject.length > 0){
        		$(viewerObject).slick({
    				slidesToShow: 1,
    				slidesToScroll: 1,
    				arrows: false,
    				fade: true,
    				asNavFor: sliderObject
            	});
        		
        		$(sliderObject).slick("slickSetOption","asNavFor", viewerObject);
        	}
        	
        });
  	</script>
</div>
