<div data-sly-use.separator="separator.js" data-sly-unwrap>

	<div class="separator-wrapper ${properties.predefinedClass} ${properties.componentClass}" data-sly-test="${separator.style == 'default'}">
		<hr class="separator" />
	</div>
	<div class="separator-wrapper ${properties.predefinedClass} ${properties.componentClass}"
		style="
			padding-top:${separator.paddingTop  @ context='scriptString'}px;
			padding-bottom:${separator.paddingBottom  @ context='scriptString'}px;
			padding-left:${separator.paddingLeft  @ context='scriptString'}px;
			padding-right:${separator.paddingRight  @ context='scriptString'}px;
		"
		data-sly-test="${separator.style == 'custom'}">
		<hr class="separator" 
			style="
				border-top-color:${separator.color  @ context='scriptString'};
				border-top-width:${separator.height @ context='scriptString'}px;
				border-top-style:${separator.line @ context='scriptString'};
			" />
	</div>
		
</div>
