<!--/*
    HTML Sightly Component
    Copyright 2016 Integration New Media Inc.
*/-->
<div class="${html.cssClass} ${html.rowClass} ${properties.predefinedClass} ${properties.componentClass}" data-sly-use.html="html-component.js" data-emptytext="${'HTML Component - Configuration' @ I18n, source='user'}">
    <div class="html-component">
        ${properties.htmlCode @ context='unsafe'}
    </div>
</div>

