<div class="xs-visible navbar-collapse-tick"></div>
${currentPage}
<ul class="nav navbar-nav" id="main-nav" data-sly-use.mainnav="main-nav.js" data-sly-list="${mainnav.root.listChildren}">
    <li data-sly-test="${!item.hideInNav}" class="${item.listChildren && !item.properties.hideChildInNav ? 'dropdown' : ''}"
        data-sly-use.utils="${'utils.js' @ pageParam=item}">      
        <a href="${item.path}.html"
           class="${item.listChildren && !item.properties.hideChildInNav ? 'dropdown-toggle' : ''}
                  ${utils.isCurrentPageInPath ? 'currentPage' : ''}" 
           data-target="${item.listChildren && !item.properties.hideChildInNav ? 'dropdown' : ''}"
           role="${item.listChildren && !item.properties.hideChildInNav ? 'button' : ''}"
           aria-expanded="${item.listChildren && !item.properties.hideChildInNav ? 'false' : ''}">
            ${item.pageTitle || item.title}
            <span class="sub-arrow" data-sly-test="${item.listChildren}"></span>
        </a>
        
        <div class="tick-container"><div class="${utils.isCurrentPageInPath ? 'tick' : ''}"></div></div>
        <ul data-sly-test="${!item.properties.hideChildInNav}" data-sly-list="${item.listChildren}" class="dropdown-menu" role="menu">
            <li data-sly-test="${!item.hideInNav}" data-sly-use.utilsSub="${'utils.js' @ pageParam=item}">
                <div class="tick" data-sly-test="${itemList.first}"></div>
                <a href="${item.path}.html">${item.pageTitle || item.title}</a>               
            </li>
        </ul>
    </li>
</ul>