<!--/*
    Main Nav Sightly Component
    Copyright 2016 Integration New Media Inc.
*/-->
<nav class="navbar navbar-default starterkit-main-nav navbar-absolute" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
    </div>      
      <div data-sly-include="list.html" class="collapse navbar-collapse" id="main-nav-collapse">
      </div>
    </div>
</nav>