<!--/*
    Page Sightly Component
    Copyright 2016 Integration New Media Inc.
*/-->
<section class="container-content" id="content">
    <sly data-sly-resource="${'par' @ resourceType='wcm/foundation/components/parsys'}" data-sly-unwrap/>
    <!--<sly data-sly-resource="${'footer_columns' @ resourceType='inm-starterkit/components/structure/footer'}" data-sly-unwrap/>-->
</section>