<!--/*
    Page Sightly Component
    Copyright 2016 Integration New Media Inc.
*/-->
<span class="sr-only">Bread Crumbs</span>
<ol data-sly-use.breadcrumb ="breadcrumb.js" class="breadcrumb" data-sly-list="${breadcrumb.components}">
    <li><a class="${item.class}" href="${item.href}" data-sly-unwrap="${item.isCurrent}"><span data-sly-test="${itemList.last}" class="sr-only">${'You are here' @ i18n}: </span>${item.text}</a></li>
</ol>