.row-no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#starterkit header.container-header .main-nav > div {
  min-height: 0px;
}
#starterkit header.container-header .main-nav .starterkit-main-nav {
  background: #E0E2EF;
  border: none;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 0;
}
#starterkit header.container-header .main-nav .starterkit-main-nav a {
  font-size: 24px;
  outline: none;
  padding-left: 23px;
  padding-right: 23px;
  color: #2f3134;
}
@media screen and (max-width: 991px) {
  #starterkit header.container-header .main-nav .starterkit-main-nav a {
    padding-left: 14px;
    padding-right: 14px;
  }
}
#starterkit header.container-header .main-nav .starterkit-main-nav a:focus {
  outline: dotted 1px #000000;
}
#starterkit header.container-header .main-nav .starterkit-main-nav .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
#starterkit header.container-header .main-nav .starterkit-main-nav .navbar-nav {
  width: 100%;
}
@media screen and (min-width: 767px) {
  #starterkit header.container-header .main-nav .starterkit-main-nav .sub-arrow {
    content: none;
    border: none;
    display: none;
  }
  #starterkit header.container-header .main-nav .starterkit-main-nav li:hover a,
  #starterkit header.container-header .main-nav .starterkit-main-nav li:focus a,
  #starterkit header.container-header .main-nav .starterkit-main-nav li.open a {
    background: none;
    font-size: 24px;
    text-decoration: none;
  }
  #starterkit header.container-header .main-nav .starterkit-main-nav li a:hover {
    text-decoration: none;
  }
  #starterkit header.container-header .main-nav .starterkit-main-nav li a.currentPage {
    font-size: 24px;
    text-decoration: none;
  }
  #starterkit header.container-header .main-nav .starterkit-main-nav li .tick-container {
    height: 18px;
  }
  #starterkit header.container-header .main-nav .starterkit-main-nav li .tick-container .tick {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 18px;
    top: 0px;
  }
  #starterkit header.container-header .main-nav .starterkit-main-nav li .dropdown-menu {
    padding-bottom: 30px;
    width: 285px !important;
    margin-left: 0 !important;
    background-color: lightgray;
    border: none;
  }
  #starterkit header.container-header .main-nav .starterkit-main-nav li .dropdown-menu .tick {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 18px;
    top: -22px;
  }
  #starterkit header.container-header .main-nav .starterkit-main-nav li .dropdown-menu a {
    font-size: 18px;
    margin-right: 15px;
    margin-left: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    color: #2f3134;
  }
  #starterkit header.container-header .main-nav .starterkit-main-nav li .dropdown-menu a:hover,
  #starterkit header.container-header .main-nav .starterkit-main-nav li .dropdown-menu a:focus {
    background-color: #2f3134;
    color: lightgray;
  }
}
@media screen and (max-width: 767px) {
  #starterkit header.container-header .main-nav .starterkit-main-nav {
    margin-left: -15px;
    margin-right: -15px;
  }
  #starterkit header.container-header .main-nav .starterkit-main-nav.navbar-absolute {
    position: absolute;
    margin: 0px 0 0 -15px;
    z-index: 2000;
    width: 100%;
  }
  #starterkit header.container-header .main-nav .starterkit-main-nav.navbar {
    min-height: 0;
  }
  #starterkit header.container-header .main-nav .starterkit-main-nav .navbar-nav {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  #starterkit header.container-header .main-nav .starterkit-main-nav .navbar-toggle {
    border-radius: 50%;
    background-color: #000000;
    width: 42px;
    height: 42px;
  }
  #starterkit header.container-header .main-nav .starterkit-main-nav .navbar-toggle .icon-bar {
    width: 20px;
    background-color: #ffffff;
  }
  #starterkit header.container-header .main-nav .starterkit-main-nav .navbar-collapse {
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  #starterkit header.container-header .main-nav .starterkit-main-nav .navbar-collapse ul {
    background-color: lightgray;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #starterkit header.container-header .main-nav .starterkit-main-nav .navbar-collapse ul li a {
    font-size: 24px;
    width: 91%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
  }
  #starterkit header.container-header .main-nav .starterkit-main-nav .navbar-collapse ul li .sub-arrow {
    border: none;
    height: 40px;
    width: 50px;
    text-align: center;
    float: right;
    background: transparent;
    right: 0px;
    font-size: 0;
    margin-top: 6px;
  }
  #starterkit header.container-header .main-nav .starterkit-main-nav .navbar-collapse ul li .sub-arrow::after {
    font-family: 'Glyphicons Halflings';
    content: "\2b";
    font-size: 14px;
  }
  #starterkit header.container-header .main-nav .starterkit-main-nav .navbar-collapse ul li.open a {
    background: none;
  }
  #starterkit header.container-header .main-nav .starterkit-main-nav .navbar-collapse ul li.open .sub-arrow::after {
    content: "\2212";
  }
  #starterkit header.container-header .main-nav .starterkit-main-nav .navbar-collapse ul li .dropdown-menu {
    background-color: #F5F5F5;
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 100% !important;
  }
  #starterkit header.container-header .main-nav .starterkit-main-nav .navbar-collapse ul li .dropdown-menu li {
    background-color: #F5F5F5;
  }
  #starterkit header.container-header .main-nav .starterkit-main-nav .navbar-collapse ul li .dropdown-menu a {
    font-size: 18px;
    padding-left: 42px;
  }
  #starterkit header.container-header .main-nav .starterkit-main-nav .navbar-collapse .navbar-collapse-tick {
    background-repeat: no-repeat;
    background-position: -webkit-calc(80%) center;
    /* sf 6 */
    background-position: right 20px center;
    /* Cr 25+, FF 13+. IE9+, Op 10.5+ */
    position: relative;
    height: 18px;
    top: 10px;
  }
}
@media screen and (max-width: 767px) {
  #starterkit .navbar-toggle {
    border-radius: 50%;
    background-color: #000000;
    width: 42px;
    height: 42px;
    color: #ffffff;
    font-size: 18px;
  }
  #starterkit .navbar-toggle .icon-bar {
    width: 20px;
    background-color: #ffffff;
  }
}
