.row-no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#starterkit .search {
  padding: 15px 30px;
}
@media screen and (max-width: 767px) {
  #starterkit .search {
    padding: 0;
  }
}
#starterkit .search a {
  color: #091645;
}
#starterkit .search .searchRight a {
  color: #091645;
}
@media screen and (max-width: 767px) {
  #starterkit .search .searchRight {
    margin-bottom: 15px;
  }
}
