<!--/*
  Title Sightly component
  Copyright 2016 Integration New Media Inc.

*/-->
<div>
    <h1 data-sly-use.title="title.js" data-sly-element="${title.element}" class="title text-${title.align} ${title.align} ${title.sr_only} ${properties.predefinedClass} ${properties.componentClass}">${title.text} ${title.hidden}</h1>
</div>   