<!--/*
    Page Sightly Component
    Copyright 2016 Integration New Media Inc.
*/-->
<section class="container-content" id="content">
    <div class="col-md-12 col-xs-12 courtesy-nav-container">
        <sly data-sly-resource="${'courtesy-nav' @ resourceType='inm-starterkit/components/structure/courtesy-nav'}" data-sly-unwrap/>
    </div>
</section>