.login-forms-wrapper{position:relative; width:280px;}
.login-forms-wrapper .form-tab{display:none; padding:0 15px; opacity:0; position:absolute; top:0; left:0; z-index:1;}
.login-forms-wrapper .form-tab.active{display:block; padding:0 15px; opacity:1; position:relative; z-index:10;}

.thumb-profile{background-color:#015dbb; width:50px; height:50px; border-radius:100px; position:relative;}
.thumb-profile .glyphicon{color:#fff; width: 50px; height: 50px; line-height: 50px; text-align: center; font-size: 25px;}