.row-no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#starterkit .starterkit-side-bar-nav {
  background: lightgray;
  border: 0px solid;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
@media screen and (max-width: 991px) {
  #starterkit .starterkit-side-bar-nav {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  #starterkit .starterkit-side-bar-nav {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 991px) {
  #starterkit .starterkit-side-bar-nav .navbar-header {
    padding-left: 8px;
    padding-right: 8px;
  }
}
#starterkit .starterkit-side-bar-nav .navbar-toggle {
  border: none;
  font-size: 18px;
  margin-top: 0;
  padding: 0 5px;
  margin-right: 7px;
  background-color: lightgray;
  color: #000000;
}
#starterkit .starterkit-side-bar-nav .navbar-toggle:hover {
  background-color: lightgray;
}
#starterkit .starterkit-side-bar-nav .navbar-toggle.collapsed .glyphicon {
  font-size: 14px;
}
#starterkit .starterkit-side-bar-nav .navbar-toggle.collapsed .glyphicon:before {
  content: "+";
}
#starterkit .starterkit-side-bar-nav .navbar-toggle.collapsed .glyphicon:hover {
  cursor: pointer;
}
#starterkit .starterkit-side-bar-nav .navbar-brand {
  color: #000000;
  font-size: 18px;
  height: auto;
}
#starterkit .starterkit-side-bar-nav .select-menu {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}
#starterkit .starterkit-side-bar-nav .glyphicon {
  width: 15%;
  text-align: right;
  padding-top: 20px;
  background: transparent;
  border: 0px solid;
  box-shadow: none;
  font-size: 14px;
}
#starterkit .starterkit-side-bar-nav .glyphicon.collapsed:before {
  content: "+";
}
#starterkit .starterkit-side-bar-nav .glyphicon:before {
  content: "\2212";
}
#starterkit .starterkit-side-bar-nav .glyphicon:hover {
  cursor: pointer;
}
#starterkit .starterkit-side-bar-nav ul {
  padding: 15px 18px 15px 18px;
  margin-bottom: 0;
  float: left;
  width: 100%;
}
#starterkit .starterkit-side-bar-nav ul#side-navigation-bar2 {
  padding-top: 0px;
  padding-left: 16px;
}
#starterkit .starterkit-side-bar-nav ul li.first-level-navigation a {
  padding-left: 2px;
}
@media screen and (max-width: 991px) {
  #starterkit .starterkit-side-bar-nav ul li.first-level-navigation:first-of-type {
    border-top: 1px solid #c2c2c2;
  }
}
#starterkit .starterkit-side-bar-nav ul.second-level-navigation {
  border-bottom: 1px solid #c2c2c2;
  border-top: 1px solid #c2c2c2;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 0 0 10px;
}
#starterkit .starterkit-side-bar-nav ul.second-level-navigation li {
  padding-top: 10px;
  padding-bottom: 10px;
}
#starterkit .starterkit-side-bar-nav ul.second-level-navigation li:first-child {
  padding-top: 20px;
}
#starterkit .starterkit-side-bar-nav ul.second-level-navigation li:last-child {
  padding-bottom: 20px;
}
#starterkit .starterkit-side-bar-nav ul.second-level-navigation li a {
  font-size: 16px;
}
#starterkit .starterkit-side-bar-nav ul.second-level-navigation li a.selected {
  font-size: 16px;
  font-weight: bold;
}
#starterkit .starterkit-side-bar-nav ul.second-level-navigation li .glyphicon {
  padding-top: 3px;
}
#starterkit .starterkit-side-bar-nav ul.inside-navigation {
  background: #F5F5F5;
  padding-right: 0;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 0 20px;
  margin-left: -9px;
  width: 101.1%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#starterkit .starterkit-side-bar-nav ul.inside-navigation li {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
#starterkit .starterkit-side-bar-nav ul.inside-navigation li a {
  font-size: 16px;
  padding-left: 2px;
}
#starterkit .starterkit-side-bar-nav ul.inside-navigation li a.selected {
  font-size: 16px;
  font-weight: bold;
}
#starterkit .starterkit-side-bar-nav li {
  list-style: none;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
#starterkit .starterkit-side-bar-nav li.first-level-navigation {
  padding-top: 20px;
  padding-bottom: 15px;
}
#starterkit .starterkit-side-bar-nav li.first-level-navigation a {
  font-size: 18px;
}
#starterkit .starterkit-side-bar-nav li.first-level-navigation a.selected {
  font-size: 18px;
}
#starterkit .starterkit-side-bar-nav li.first-level-navigation .glyphicon {
  padding-top: 3px;
}
#starterkit .starterkit-side-bar-nav li a {
  color: #000000;
}
#starterkit .starterkit-side-bar-nav li a.left {
  width: 85%;
  float: left;
}
#starterkit .starterkit-side-bar-nav li a.selected {
  font-weight: bold;
}
#starterkit .starterkit-side-bar-nav li button.navbar-collapse {
  display: none !important;
}
