<!--/* Template that call the DateFormating Java Class */-->
<template data-sly-template.dateFormat="${ @ date, dateFormat }">
	<span data-sly-use.formatter="${'com.inm.aem.accelerators.starterkit.core.models.DateFormatting' @ date=date,dateFormat=dateFormat}">${formatter.formattedValue}</span>
</template>

<div id="main-section"
	class="color-section-wrapper padding-${colorSection.padding @ context='scriptString'}" 
	style="color:${colorSection.textColor @ context='scriptString'}; 
			background-color:${colorSection.backgroundColor @ context='scriptString'}; 
			background-size:cover;
			background-position:center center;"
	data-sly-use.page="../page-full-width/page.js"
	data-sly-use.colorSection="color-section.js">
	<!-- /*background-image:url(${colorSection.image.src != '' ? colorSection.image.src : ''  @ context='scriptString'});*/ --> 
	<div class="container" style="${colorSection.padding == 'custom' ? colorSection.customPadding : ''  @ context='scriptString'} " >
				
            <div data-sly-test="${page.layout=='none'}">
            	<div data-sly-resource="${'breadcrumb' @ resourceType='inm-starterkit/components/structure/breadcrumb'}"></div>
                <div class="pagetitle" data-sly-resource="${ 'title' @ resourceType='inm-starterkit/components/structure/main-section/title'}"></div>
                
                
                <div data-sly-test="${page.template == 'page-article'}" class="article-date"><span data-sly-call="${ dateFormat @ date=page.date, dateFormat='yyy/MM/dd HH:mm:ss' }"></span></div>
                <div data-sly-test="${page.template == 'page-article'}" class="article-tags">
                	<span>Posted in :</span>
	                <ul data-sly-list.tag="${page.tags}">
	                	<li><a href="#${tag.tagID @ context='scriptString'}">${tag.title}</a></li>
	                </ul>
	            </div>    
                
                <div class="parsys" data-sly-resource="${ @path='par', resourceType='wcm/foundation/components/responsivegrid'}"></div>
            </div>
            <div class="row" data-sly-test="${page.layout=='left'}">
                <div class="col-lg-3 col-md-3 col-xs-12 left-sidebar">
                    <div data-sly-test="${!page.hideSideNav}" data-sly-resource="${ 'sidebar-navigation' @ resourceType='inm-starterkit/components/structure/sidebar-navigation'}" data-sly-unwrap></div>
                    <div data-sly-resource="${ @path='../iParsys-side', resourceType='wcm/foundation/components/iparsys'}"></div>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12 right-content">
                	<div data-sly-resource="${'breadcrumb' @ resourceType='inm-starterkit/components/structure/breadcrumb'}"></div>
                    <div class="pagetitle" data-sly-resource="${ 'title' @ resourceType='inm-starterkit/components/content/title'}"></div>
                    
                    <div data-sly-test="${page.template == 'page-article'}" class="article-date"><span data-sly-call="${ dateFormat @ date=page.date, dateFormat='yyy/MM/dd HH:mm:ss' }"></span></div>
	                <div data-sly-test="${page.template == 'page-article'}" class="article-tags">
	                	<span>Posted in :</span>
		                <ul data-sly-list.tag="${page.tags}">
		                	<li><a href="#${tag.tagID @ context='scriptString'}">${tag.title}</a></li>
		                </ul>
		            </div> 
                    
                    <div class="parsys" data-sly-resource="${ @path='par', resourceType='inm-starterkit/components/structure/main-section/responsivegrid'}"></div>
                </div>
            </div>
            <div class="row" data-sly-test="${page.layout=='right'}">
                <div class="col-lg-3 col-md-3 col-xs-12 right-sidebar pull-right">
                    <div data-sly-test="${!page.hideSideNav}" data-sly-resource="${ 'sidebar-navigation' @ resourceType='inm-starterkit/components/structure/sidebar-navigation'}" data-sly-unwrap></div>
                    <div data-sly-resource="${ @path='../iParsys-side', resourceType='wcm/foundation/components/iparsys'}"></div>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12 left-content">
                	<div data-sly-resource="${'breadcrumb' @ resourceType='inm-starterkit/components/structure/breadcrumb'}"></div>
                    <div class="pagetitle" data-sly-resource="${ 'title' @ resourceType='inm-starterkit/components/content/title'}"></div>
                    
                    <div data-sly-test="${page.template == 'page-article'}" class="article-date"><span data-sly-call="${ dateFormat @ date=page.date, dateFormat='yyy/MM/dd HH:mm:ss' }"></span></div>
	                <div data-sly-test="${page.template == 'page-article'}" class="article-tags">
	                	<span>Posted in :</span>
		                <ul data-sly-list.tag="${page.tags}">
		                	<li><a href="#${tag.tagID @ context='scriptString'}">${tag.title}</a></li>
		                </ul>
		            </div> 
                    
                    <div class="parsys" data-sly-resource="${ @path='par', resourceType='wcm/foundation/components/responsivegrid'}"></div>
                </div>
            </div>
		
	</div>
</div>