@import "../../../../../../../etc/designs/inm-starterkit/clientlib-site/less/includes.less";

#starterkit {
  .starterkit-side-bar-nav {
    background: @primary-color;
    border: 0px solid;
    .rounded(0px);

    @media screen and (max-width: @screen-sm-max) {
      margin-bottom: 0;
    }

    @media screen and (max-width: @screen-xs-max) {
      margin-bottom: 0;
    }

    .navbar-header {
      @media screen and (max-width: @screen-sm-max) {
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    .navbar-toggle {
      border: none;
      font-size: 18px;
      margin-top: 0;
      padding: 0 5px;
      margin-right: 7px;
      background-color: @primary-color;
      color: @black;

      &:hover {
        background-color: @primary-color;
      }
      &.collapsed {
        .glyphicon {
          font-size: 14px;
          &:before {
            content: "+";
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .navbar-brand {
      color: @black;
      font-size: 18px;
      height: auto;
    }

    .select-menu {
      font-size: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 10px;
    }

    .glyphicon {
      width: 15%;
      text-align: right;
      padding-top: 20px;
      background: transparent;
      border: 0px solid;
      box-shadow: none;
      font-size: 14px;
      &.collapsed {
        &:before {
          content: "+";
        }
      }
      &:before {
        content: "\2212";
      }

      &:hover {
        cursor: pointer;
      }
    }

    ul {
      padding: 15px 18px 15px 18px;
      margin-bottom: 0;
      float: left;
      width: 100%;

      &#side-navigation-bar2 {
        padding-top: 0px;
        padding-left: 16px;

      }

      li {
        &.first-level-navigation {
          //                                    padding-left: 2px;
          a {
            padding-left: 2px;
          }
          &:first-of-type {
            @media screen and (max-width: @screen-sm-max) {
              border-top: 1px solid @primary-color-underline;
            }
          }
        }
      }

      &.second-level-navigation {
        border-bottom: 1px solid @primary-color-underline;
        border-top: 1px solid @primary-color-underline;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0 0 0 10px;
        li {
          &:first-child {
            padding-top: 20px;
          }
          &:last-child {
            padding-bottom: 20px;
          }
          padding-top: 10px;
          padding-bottom: 10px;
          a {
            font-size: 16px;
            &.selected {
              font-size: 16px;
              font-weight: bold;
            }
          }
          .glyphicon {
            padding-top: 3px;
          }
        }
      }
      &.inside-navigation {
        background: @secondary-color;
        padding-right: 0;
        margin-bottom: 20px;
        margin-top: 10px;
        padding: 0 20px;
        margin-left: -9px;
        width: 101.1%;
        .rounded(5px);
        li {
          border: none;
          padding-top: 10px;
          padding-bottom: 10px;
          a {
            font-size: 16px;
            padding-left: 2px;
            &.selected {
              font-size: 16px;
              font-weight: bold;
            }
          }
        }
      }
    }

    li {
      list-style: none;
      border: none;
      padding-top: 10px;
      padding-bottom: 10px;

      &.first-level-navigation {
        padding-top: 20px;
        padding-bottom: 15px;
        a {
          font-size: 18px;

          &.selected {
            font-size: 18px;
          }
        }
        .glyphicon {
          padding-top: 3px;
        }
      }

      a {
        color: @black;
        &.left {
          width: 85%;
          float: left;
        }
        &.selected {
          font-weight: bold;
        }
      }

      button.navbar-collapse {
        display: none !important;
      }
    }
  }
}