<!--/*
    Copyright 2016 Integration New Media Inc.
*/-->
<div class="content page-content" data-sly-use.page="../../page/page.js">
    <div data-sly-test="${page.layout=='none'}">
        <div class="pagetitle" data-sly-resource="${ 'title' @ resourceType='inm-starterkit/components/content/title'}"></div>
        <div class="parsys" data-sly-resource="${ @path='par', resourceType='wcm/foundation/components/parsys'}"></div>
    </div>
    <div class="row" data-sly-test="${page.layout=='left'}">
        <div class="col-lg-3 col-md-3 col-xs-12 left-sidebar">
            <div data-sly-test="${!page.hideSideNav}" data-sly-resource="${ 'sidebar-navigation' @ resourceType='inm-starterkit/components/structure/sidebar-navigation'}" data-sly-unwrap></div>
            <div data-sly-resource="${ @path='iParsys-side', resourceType='wcm/foundation/components/iparsys'}"></div>
        </div>
        <div class="col-lg-9 col-md-9 col-xs-12 right-content">
            <div class="pagetitle" data-sly-resource="${ 'title' @ resourceType='inm-starterkit/components/content/title'}"></div>
            <div class="parsys" data-sly-resource="${ @path='par', resourceType='wcm/foundation/components/parsys'}"></div>
        </div>
    </div>
    <div class="row" data-sly-test="${page.layout=='right'}">
        <div class="col-lg-3 col-md-3 col-xs-12 right-sidebar pull-right">
            <div data-sly-test="${!page.hideSideNav}" data-sly-resource="${ 'sidebar-navigation' @ resourceType='inm-starterkit/components/structure/sidebar-navigation'}" data-sly-unwrap></div>
            <div data-sly-resource="${ @path='iParsys-side', resourceType='wcm/foundation/components/iparsys'}"></div>
        </div>
        <div class="col-lg-9 col-md-9 col-xs-12 left-content">
            <div class="pagetitle" data-sly-resource="${ 'title' @ resourceType='inm-starterkit/components/content/title'}"></div>
            <div class="parsys" data-sly-resource="${ @path='par', resourceType='wcm/foundation/components/parsys'}"></div>
        </div>
    </div>
</div>
