@import "../../../../../../../etc/designs/inm-starterkit/clientlib-site/less/includes.less";


#starterkit {
  .page-content {
    .title {
      &.section {
        margin-top: 30px;
      }
    }
    .left-sidebar {
      background: transparent;
      //padding-left: 0px;

      @media screen and (max-width: @screen-sm-max) {
        margin-right: 0px;
        padding-right: 0px;
      }

      .sidebarnav {
        &.row {
          margin-left: 0px;
          margin-right: 0px;
          @media screen and (max-width: @screen-sm-max) {
            margin-left: -15px;
            margin-right: -15px;
          }
        }
      }
    }
    .right-sidebar {
      @media screen and (max-width: @screen-sm-max) {
        margin-right: 0px;
        padding-right: 0px;
        float:left;
      }
    }
    .left-sidebar, .right-sidebar {
      background: transparent;
      //padding-left: 0px;

      @media screen and (max-width: @screen-sm-max) {
        margin-right: 0px;
        padding-right: 0px;
      }

      .sidebarnav {
        &.row {
          margin-left: 0px;
          margin-right: 0px;
          @media screen and (max-width: @screen-sm-max) {
            margin-left: -15px;
            margin-right: -15px;
          }
        }
      }
    }
    .right-content {
      margin-left: 15px;
      @media screen and (max-width: @screen-sm-max) {
        margin-left: 0px;
      }
    }
    .left-content {
      margin-left: 15px;
      @media screen and (max-width: @screen-sm-max) {
        margin-left: 0px;
      }
    }
    .right-content, .left-content {
      width: 72.4%;
      @media screen and (max-width: @screen-md-max) {
        width: 71.9%;
      }
      @media screen and (max-width: @screen-sm-max) {
        width: 100%;
        padding: 0;
      }

    }
  }
}