<!--/*
    Page Sightly Component
    Copyright 2016 Integration New Media Inc.
*/-->
<div class="${page.template} row" data-sly-use.footer="footer.js" data-sly-use.page="../page/page.js">
    <div data-sly-list="${footer.options}">
        <div class="col-lg-${item.lg} col-md-${item.md} col-sm-${item.sm} col-xs-${item.xs}">
            <div data-sly-resource="${ @path=item.path, resourceType='wcm/foundation/components/parsys'}"></div>
        </div>
    <!--<div class="clearfix visible-sm-block" data-sly-test="${itemList.index == 1 && footer.cols==4}"></div>-->
    </div>
</div>

