.row-no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#starterkit .title {
  /* if title has nothing, default center */
  /*text-align: center;*/
}
#starterkit .title.left {
  text-align: left;
}
#starterkit .title.center {
  text-align: center;
}
#starterkit .title.right {
  text-align: right;
}
