<!--/*
    Accordion Sightly Component
    Copyright 2016 Integration New Media Inc.
*/-->

<div data-emptytext="Configure Accordion">
    <div class="panel-group ${accordion.hidden} ${properties.predefinedClass} ${properties.componentClass}" data-sly-use.accordion="accordion.js" id="accordion_${accordion.uid}">
        <div class="panel panel-default ${accordion.style}">
            <button class="panel-heading ${accordion.intitle}" data-toggle="collapse" data-parent="#accordion_${accordion.uid}" data-target="#${accordion.uid}" aria-expanded="${accordion.expanded}" aria-controls="${accordion.id}" aria-label="${accordion.arialabel}">
                <span class="panel-title ${accordion.titleClass}">
                    <span class="glyphicon" aria-hidden="true"></span>
                    <span data-sly-test="${accordion.title == undefined}">${'Please Drag and drop other components below.' @ i18n}</span>
                    ${accordion.title}
                </span>
            </button>
            <div id="${accordion.uid}" class="panel-collapse collapse ${accordion.in}">
                <div class="panel-body" style="clear:both;" >
                    <div data-sly-resource="${ @path='par', resourceType='foundation/components/parsys'}" data-sly-unwrap></div>
                </div>
            </div>
        </div>
    </div>
</div>
