<div class="container" data-sly-use.stats="stats.js">
	<div class="joule-stats nb-${stats.data.length}">
		<p data-sly-test="${!stats.data}">Config Stats</p> 
		<div class="row" data-sly-test="${stats.data}">
			<div class="col-md-8">
				
						<div class="stats-item item-1"><span class="number">${stats.data[0].number}</span> <span class="text">${stats.data[0].text}</span></div>
					
						<div class="stats-item item-2"><span class="number">${stats.data[1].number}</span> <span class="text">${stats.data[1].text}</span></div>
					
			</div>
			<div class="col-md-4">
				<div class="stats-item item-3"><span class="number">${stats.data[2].number}</span> <span class="text">${stats.data[2].text}</span></div>
			</div>
		</div>
	</div>
</div>    