@import "../../../../../../../etc/designs/inm-starterkit/clientlib-site/less/includes.less";

// out: ../css/carousel.css
#starterkit {
  .accordion {
    .panel-default {
      .panel-heading {
        // default white mode
        width: 100%;
        text-align: left;
        border: 0px;
        //background: @black;
        color: @black;
      }

      &.black {
        // when set to black style
        .panel-heading {
          background: @black;
          color: @white;
        }
      }
    }
  }
}
