.row-no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@media screen and (max-width: 991px) {
}
@media screen and (max-width: 767px) {
  #starterkit .courtesy-nav-container {
    padding-left: 0;
    padding-right: 0;
  }
}
#starterkit .courtesy-nav-container.col-xs-8 {
  padding-right: 0px;
  padding-left: 0px;
}
#starterkit .courtesy-nav {
  width: 100%;
  list-style-type: none;
  text-align: right;
  font-family: 'robotoregular', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  #starterkit .courtesy-nav ul {
    padding-left: 0px;
  }
}
#starterkit .courtesy-nav ul li {
  list-style-type: none;
  display: inline-block;
}
#starterkit .courtesy-nav ul li.menu-item {
  margin-right: 20px;
  margin-top: 10px;
  white-space: nowrap;
}
#starterkit .courtesy-nav ul li.menu-item:last-child {
  margin-right: 7px;
}
@media screen and (max-width: 1199px) {
  #starterkit .courtesy-nav ul li.menu-item:last-child {
    margin-right: 10px;
  }
}
@media screen and (max-width: 991px) {
  #starterkit .courtesy-nav ul li.menu-item:last-child {
    margin-right: 17px;
  }
}
@media screen and (max-width: 767px) {
  #starterkit .courtesy-nav ul li.menu-item:last-child {
    margin-right: 8px;
  }
}
@media screen and (max-width: 767px) {
  #starterkit .courtesy-nav ul li.menu-item {
    margin-right: 10px;
  }
}
#starterkit .courtesy-nav ul li.menu-item p {
  text-align: center;
}
#starterkit .courtesy-nav ul li.menu-item p:before {
  content: "\2022";
  color: lightgray;
  padding-right: 16px;
}
@media screen and (max-width: 767px) {
  #starterkit .courtesy-nav ul li.menu-item p:before {
    font-size: 14px;
    padding-right: 10px;
    padding-left: 2px;
  }
}
#starterkit .courtesy-nav ul li.menu-item a {
  text-align: center;
  margin: auto;
  font-size: 16px;
  color: White;
}
#starterkit .courtesy-nav ul li.menu-item a:before {
  font-family: 'robotoregular', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  word-break: normal;
}
@media screen and (max-width: 767px) {
  #starterkit .courtesy-nav ul li.menu-item a {
    font-family: 'robotoregular', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    position: relative;
    top: -2px;
  }
}
#starterkit .courtesy-nav ul li.menu-item:first-child p:before {
  content: "";
}
#starterkit .courtesy-nav .pagination {
  display: none;
  margin: 0px auto;
}
