.row-no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#starterkit .page-content .title.section {
  margin-top: 30px;
}
#starterkit .page-content .left-sidebar {
  background: transparent;
}
@media screen and (max-width: 991px) {
  #starterkit .page-content .left-sidebar {
    margin-right: 0px;
    padding-right: 0px;
  }
}
#starterkit .page-content .left-sidebar .sidebarnav.row {
  margin-left: 0px;
  margin-right: 0px;
}
@media screen and (max-width: 991px) {
  #starterkit .page-content .left-sidebar .sidebarnav.row {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media screen and (max-width: 991px) {
  #starterkit .page-content .right-sidebar {
    margin-right: 0px;
    padding-right: 0px;
    float: left;
  }
}
#starterkit .page-content .left-sidebar,
#starterkit .page-content .right-sidebar {
  background: transparent;
}
@media screen and (max-width: 991px) {
  #starterkit .page-content .left-sidebar,
  #starterkit .page-content .right-sidebar {
    margin-right: 0px;
    padding-right: 0px;
  }
}
#starterkit .page-content .left-sidebar .sidebarnav.row,
#starterkit .page-content .right-sidebar .sidebarnav.row {
  margin-left: 0px;
  margin-right: 0px;
}
@media screen and (max-width: 991px) {
  #starterkit .page-content .left-sidebar .sidebarnav.row,
  #starterkit .page-content .right-sidebar .sidebarnav.row {
    margin-left: -15px;
    margin-right: -15px;
  }
}
#starterkit .page-content .right-content {
  margin-left: 15px;
}
@media screen and (max-width: 991px) {
  #starterkit .page-content .right-content {
    margin-left: 0px;
  }
}
#starterkit .page-content .left-content {
  margin-left: 15px;
}
@media screen and (max-width: 991px) {
  #starterkit .page-content .left-content {
    margin-left: 0px;
  }
}
#starterkit .page-content .right-content,
#starterkit .page-content .left-content {
  width: 72.4%;
}
@media screen and (max-width: 1199px) {
  #starterkit .page-content .right-content,
  #starterkit .page-content .left-content {
    width: 71.9%;
  }
}
@media screen and (max-width: 991px) {
  #starterkit .page-content .right-content,
  #starterkit .page-content .left-content {
    width: 100%;
    padding: 0;
  }
}
