@import "../../../../../../../etc/designs/inm-starterkit/clientlib-site/less/includes.less";

// out: ../css/table.css
#starterkit {
  .image {
    margin-bottom: 10px;
    img {
      max-width: 100%;
    }
  }
}