<!--/*
    Search Form Sightly Component
    Copyright 2016 Integration New Media Inc.
*/-->
<div data-sly-use.searchForm="search-form.js" class="search-container">
   <!--<div class="visible-xs visible-sm collapse-tick"></div>-->
    <form action="${searchForm.searchPagePath}.html">
       <div class="input-group">
           <label for="${searchForm.componentId}" class="sr-only">${'Site search' @ i18n}</label>
            <input type="search" name="q" id="${searchForm.componentId}" class="form-control" placeholder="${'search by keyword'  @ i18n}"/>
            <span class="input-group-btn">
                <button class="btn btn-default btn-starterkit" type="submit">${'Search' @ i18n}</button>
            </span>
       </div>
    </form>
</div>
