<div 
	class="color-section-wrapper padding-${colorSection.padding @ context='styleString'} ${properties.predefinedClass} ${properties.componentClass}" 
	style="color:${colorSection.textColor @ context='styleString'}; 
			background-color:${colorSection.backgroundColor @ context='styleString'}; 
			background-size:cover;
			background-position:center center;
			background-image:url(${colorSection.image.src != '' ? colorSection.image.src : ''  @ context='styleString'});"
	data-sly-use.colorSection="color-section.js">
	<div class="container" style="${colorSection.padding == 'custom' ? colorSection.customPadding : ''  @ context='styleString'} " >
		<div data-sly-resource="${'responsivegrid' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
	</div>
</div>