@import "../../../../../../../etc/designs/inm-starterkit/clientlib-site/less/includes.less";

// out: ../css/courtesy-nav.css
#starterkit {
  .courtesy-nav-container {
    //width: 82%;
    @media screen and (max-width: @screen-sm-max) {
      //width: 86%;
    }
    @media screen and (max-width: @screen-xs-max) {
      //width: 66.66666667%;
      padding-left: 0;
      padding-right: 0;
    }
    &.col-xs-8 {
      padding-right: 0px;
      padding-left: 0px;
    }
  }

  .courtesy-nav {
    width: 100%;
    list-style-type: none;
    text-align: right;
    .Roboto-Regular(16px);

    ul {
      @media screen and (max-width: @screen-xs-max) {
        padding-left: 0px;
      }
      li {
        list-style-type: none;
        display: inline-block;

        &.menu-item {
          margin-right: 20px;
          margin-top: 10px;
          white-space: nowrap;

          &:last-child {
            margin-right: 7px;
            @media screen and (max-width: @screen-md-max) {
              margin-right: 10px;
            }
            @media screen and (max-width: @screen-sm-max) {
              margin-right: 17px;
            }
            @media screen and (max-width: @screen-xs-max) {
              margin-right: 8px;
            }
          }

          @media screen and (max-width: @screen-xs-max) {
            margin-right: 10px;
          }

          p {
            text-align: center;
            &:before {
              content:"\2022";
              color: @primary-color;
              padding-right: 16px;
              @media screen and (max-width: @screen-xs-max) {
                font-size: 14px;
                padding-right: 10px;
                padding-left: 2px;
              }
            }

          }
          a {
            text-align: center;
            margin: auto;
            font-size: 16px;
            color: @header-text;
            &:before {
              .Roboto-Regular(16px);
              word-break: normal;
            }
            @media screen and (max-width: @screen-xs-max) {
              .Roboto-Regular(12px);
              position: relative;
              top: -2px;
            }
          }

          &:first-child {
            p {
              &:before {
                content: "";
              }
            }
          }
        }
      }
    }
    .pagination {
      display: none;
      margin: 0px auto;
    }
  }
}