.row-no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#starterkit header .search-container {
  width: 100%;
  margin-bottom: 20px;
  float: left;
}
#starterkit header .search-container input {
  border: 1px solid #000000;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
  height: 43px;
  max-width: 400px;
  float: right;
  color: #000000;
}
@media screen and (max-width: 991px) {
  #starterkit header .search-container input {
    max-width: 100%;
  }
}
#starterkit header .search-container input::-webkit-input-placeholder {
  color: #000000;
}
#starterkit header .search-container input:-moz-placeholder {
  /* Firefox 18- */
  color: #000000;
}
#starterkit header .search-container input::-moz-placeholder {
  /* Firefox 19+ */
  color: #000000;
}
#starterkit header .search-container input:-ms-input-placeholder {
  color: #000000;
}
#starterkit header .search-container .btn-starterkit {
  border: 1px solid #000000;
  margin-top: 0px;
  height: 43px;
}
@media screen and (max-width: 991px) {
  #starterkit header .search-container .collapse-tick {
    background: url('/etc/designs/inm-starterkit/images/yellow-tick.png') no-repeat 95% center;
    /* Sf < 6, Android, default */
    background-repeat: no-repeat;
    background-position: -webkit-calc(24%) center;
    /* sf 6 */
    background-position: right 76px center;
    /* Cr 25+, FF 13+. IE9+, Op 10.5+ */
    position: relative;
    height: 18px;
    top: 2px;
  }
  #starterkit header .search-container form {
    background: lightgray;
    padding: 22px;
    position: absolute;
    z-index: 2;
  }
  #starterkit header .search-container form .input-group-btn {
    display: none;
  }
  #starterkit header .search-container form .input-group {
    display: block;
  }
  #starterkit header .search-container form input {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: block;
    float: none;
    border: 0px solid;
  }
}
#starterkit header #search-form-mobile-collapse {
  position: absolute;
  width: 100%;
  margin-top: -20px;
}
#starterkit header #search-form-mobile-collapse form {
  width: 100%;
}
#starterkit header #search-form-mobile-collapse form .btn-starterkit {
  z-index: 9999999;
}
