@import "../../../../../../../etc/designs/inm-starterkit/clientlib-site/less/includes.less";

#starterkit {
    .title {
      /* if title has nothing, default center */
      /*text-align: center;*/
      &.left {
        text-align: left;
      }

      &.center {
        text-align: center;
      }

      &.right {
        text-align: right;
      }
    }
}
