@import "../../../../../../../etc/designs/inm-starterkit/clientlib-site/less/includes.less";

#starterkit {
    header {
        &.container-header {
            .main-nav {
                &>div {
                    min-height: 0px;
                }
                .starterkit-main-nav {
                    background: @main-nav-background;
                    border: none;
                    margin-left: -15px;
                    margin-right: -15px;
                    margin-bottom: 0;
                    a {
                        font-size: 24px;
                        outline: none;
                        padding-left: 23px;
                        padding-right: 23px;
                        color: @main-nav-color;
                        @media screen and (max-width: @screen-sm-max) {
                            padding-left: 14px;
                            padding-right: 14px;
                        }
                        &:focus {
                            outline: dotted 1px @black;
                        }
                    }
                    .container-fluid {
                        padding-left: 0;
                        padding-right: 0;
                    }
                    .navbar-nav {
                        width: 100%;
                    }
                    @media screen and (min-width: @screen-xs-max) {
                        .sub-arrow {
                            content:none;
                            border:none;
                            display: none;
                        }
                        li {
                            &:hover,
                            &:focus,
                            &.open {
                                a {
                                    background: none;
                                    font-size: 24px;
                                    text-decoration: none;
                                }
                            }
                            a {
                                &:hover {
                                    text-decoration: none;
                                }
                                &.currentPage {
                                    font-size: 24px;
                                    text-decoration: none;
                                }
                            }
                            .tick-container {
                                height:18px;
                                .tick {
                                    //display: none;
                                    //background-image: url('@{images_path}/yellow-tick.png');
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    position: relative;
                                    height:18px;
                                    top: 0px;
                                }
                            }
                            .dropdown-menu {
                                padding-bottom: 30px;
                                width: 285px !important;
                                margin-left: 0 !important;
                                background-color: @main-nav-dropdown-menu-background;
                                border: none;
                                .tick {
                                    //display: none;
                                    //background-image: url('@{images_path}/yellow-tick.png');
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    position: relative;
                                    height:18px;
                                    top: -22px;
                                }
                                a {
                                    font-size: 18px;
                                    margin-right: 15px;
                                    margin-left: 15px;
                                    padding-top: 12px;
                                    padding-bottom: 12px;
                                    border-radius: 5px;
                                    white-space: pre-wrap; /* css-3 */
                                    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
                                    white-space: -pre-wrap; /* Opera 4-6 */
                                    white-space: -o-pre-wrap; /* Opera 7 */
                                    word-wrap: break-word; /* Internet Explorer 5.5+ */
                                    color: @main-nav-dropdown-menu-link-color;
                                    &:hover,
                                    &:focus {
                                        background-color: @main-nav-dropdown-menu-hover-background;
                                        color: @main-nav-dropdown-menu-link-hover-color;
                                    }
                                }
                            }
                        }
                    }
                    @media screen and (max-width: @screen-xs-max) {
                        &.navbar-absolute {
                            position: absolute;
                            margin: 0px 0 0 -15px;
                            z-index: 2000;
                            width: 100%;
                        }

                        margin-left: -15px;
                        margin-right: -15px;
                        &.navbar {
                            min-height: 0;
                        }
                        .navbar-nav {
                            margin-bottom: 0;
                            margin-left: 0;
                            margin-right: 0;
                            width: 100%;
                        }
                        .navbar-toggle {
                            border-radius: 50%;
                            background-color: @black;
                            width: 42px;
                            height: 42px;
                            .icon-bar {
                                width: 20px;
                                background-color: @white;
                            }
                        }
                        .navbar-collapse {
                            border: none;
                            padding-left: 0px;
                            padding-right: 0px;
                            margin-left: 0px;
                            margin-right: 0px;
                            ul {
                                background-color: @primary-color;
                                padding-top: 30px;
                                padding-bottom: 30px;

                                li {
                                    a {
                                        font-size: 24px;
                                        width: 91%;
                                        padding-top: 15px;
                                        padding-bottom: 15px;
                                        padding-left: 30px;
                                    }
                                    .sub-arrow {
                                        border:none;
                                        height: 40px;
                                        width: 50px;
                                        text-align: center;
                                        float: right;
                                        background: transparent;
                                        right: 0px;
                                        font-size: 0;
                                        margin-top: 6px;

                                        &::after{
                                            font-family: 'Glyphicons Halflings';
                                            content: "\2b";
                                            font-size: 14px;
                                        }
                                    }
                                    &.open {
                                        a {
                                            background: none;
                                        }
                                        .sub-arrow {

                                            &::after{
                                                content: "\2212";
                                            }
                                        }
                                    }
                                    .dropdown-menu {
                                        background-color: @secondary-color;
                                        margin-left: 0 !important;
                                        margin-right: 0 !important;
                                        max-width: 100% !important;
                                        li {
                                            background-color: @secondary-color;
                                        }

                                        a {
                                            font-size: 18px;
                                            padding-left: 42px;

                                        }
                                    }
                                }
                            }
                            .navbar-collapse-tick {
                                //display: none;
                                //background: url('@{images_path}/yellow-tick.png') no-repeat 95% center; /* Sf < 6, Android, default */
                                background-repeat: no-repeat;
                                background-position: -webkit-calc(100% - 20px) center; /* sf 6 */
                                background-position: right 20px center; /* Cr 25+, FF 13+. IE9+, Op 10.5+ */
                                position: relative;
                                height:18px;
                                top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    // Main Nav Button on header
    @media screen and (max-width: @screen-xs-max) {
        .navbar-toggle {
            border-radius: 50%;
            background-color: @black;
            width: 42px;
            height: 42px;
            color: @white;
            font-size: 18px;
            .icon-bar {
                width: 20px;
                background-color: @white;
            }
        }
    }
}
