<div class="video-wrapper cq-dd-video ratio-${video.aspectRation} ${properties.predefinedClass} ${properties.componentClass}" data-sly-use.video="video.js">
	<video data-sly-test="${video.type=='dam'}" src="${video.src}" type="${video.mimetype}" controls>
  		Your browser does not support the <code>video</code> element.
	</video>
	<iframe data-sly-test="${video.type=='external'}" src="${video.src}" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
</div>