<!--/*
    Copyright 2016 Integration New Media Inc.
*/-->

<section class="container-content" id="content" data-sly-use.page="../../page-full-width/page.js">
	<!-- /*div class="par_before_main_content" data-sly-resource="${ 'par_before_main_content'  @ resourceType='foundation/components/parsys'}"></div*/-->
	<div class="main-section" data-sly-resource="${ @path='main-section', resourceType='inm-starterkit/components/structure/main-section'}"></div>
	<!-- /*div class="par_after_main_content" data-sly-resource="${ 'par_after_main_content'  @ resourceType='foundation/components/parsys'}"></div*/-->
</section>