<div data-sly-use.page="../page.js">
	<div class="header" data-sly-resource="${'{0}/boilerplates/joule-header/jcr:content/main_par' @ resourceType='foundation/components/parsys', format=[page.root] , wcmmode='disabled'}"></div>
	<div class="main_par" data-sly-resource="${ 'main_par'  @ resourceType='foundation/components/parsys'}"></div>
	<div class="footer" data-sly-resource="${'{0}/boilerplates/joule-footer/jcr:content/main_par' @ resourceType='foundation/components/parsys', format=[page.root] , wcmmode='disabled'}"></div>
</div>